doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title MEAN test
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/AngularJS-Toaster/toaster.css")
        base(href="/")
    body(ng-app='sidelab')
        block main-content
        include scripts